{% extends "_layout.twig" %}

{% block main_content %}
    <h1>Overzicht blog posts</h1>

    <table class="table">
        <thead></thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Date created</th>
            <td><a href="/blog/add"><span class="glyphicon glyphicon-plus" title="Add blog post"></span></a></td>
        </tr>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.body|slice(0, 75) }}&hellip;</td>
                <td>{{ post.created_on }}</td>
                <td>
                    <a href="/blog/edit/{{ post.id }}"><span class="glyphicon glyphicon-pencil" title="Edit blog post"></span></a>
                    <a href="/blog/delete/{{ post.id }}"><span class="glyphicon glyphicon-trash" title="Delete blog post"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock main_content %}